* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
header {
  background-color: rgb(147, 183, 203);
  padding: 2rem 0;
  text-align: center;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
  margin-left: 30px;
  padding: 10px;
}

a:hover {
opacity: 0.8;
}

.active {
  color: #196b82;
  cursor: default;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
