* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
}

header {
  background-color: rgb(147, 183, 203);
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 20px;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
  margin-left: 30px;
  padding: 10px;
}

a:hover {
color: #646cff;
}

a:focus {
  color: #a74848;
}
a:active {
  color: #c04141;
  }

.active {
  color: #c04141;
  cursor: default;
}

h1 {
  margin-left: 30px;
  font-size: 2em;
  line-height: 1.1;
}

#search-form{
  margin-bottom: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2d2d2;
  cursor: pointer;
  transition: border-color 0.25s;
}
 button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cards-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2em;
  padding: 30px;
}

@media (min-width: 700px) {
  .cards-container { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1200px) {
  .cards-container { grid-template-columns: repeat(3, 1fr); }
}

.movie-card{
  border: solid #196b82;
  border-radius: 10px;
  background-color: rgb(147, 183, 203);
  padding: 10px;
}

.movie-details > img {
  width: 200px;
  height: 300px;
  margin-top: 10px;
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.form-container > label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}

.new-card-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
}

.new-card{
  width: 200px;
}

.img-ccontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-card-img{
  width: 100px;
  height: 100px;
}

.modal-bg {
  position:fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal{
  position: relative;
  width: 500px;
  height: 200px;
  padding: 5px;
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 2em;
  border-radius: 8px;
}

.modal > div {
 line-height: 190px;
}

.close-modal{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-modal > img {
  width: 10px;
  height: 10px;
}

.close-modal > img:hover {
  width: 13px;
  height: 13px;
}

.close-modal > img:active {
  width: 10px;
  height: 10px;
}